.about {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 20px;
    align-items: center;
    @include mq(tablet) {
      padding: 100px 40px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    @include mq(desktop) {
      padding: 100px 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__imageWrapper {
    margin-right: 30px;
    position: relative;
    width: 500px;
    height: 524px;
    border: 2px solid $lineBrownColor;
    border-radius: 115px 0;

    @include mq(tablet) {
      border-radius: 140px 0;
      width: 500px;
      height: 730px;
    }
    @include mq(desktop) {
      border-radius: 153px 0;
      width: 680px;
      height: 712px;
    }
  }
  &__image {
    display: block;
    width: 500px;
    position: absolute;
    border-radius: 105px 0;
    transform: translate(18px, 18px);

    @include mq(tablet) {
      border-radius: 124px 0;
      width: 500px;
      height: 730px;
      transform: translate(17px, 17px);
    }
    @include mq(desktop) {
      display: block;
      border-radius: 136px 0;
      width: 679px;
      transform: translate(37px, 31px);
    }
  }
  &__textWrapper {
    width: 400px;
    text-align: center;
    @include mq(tablet) {
      width: 300px;
      text-align: left;
      padding-right: 10px;
      padding-top: 5px;
  }
    
    @include mq(desktop) {
      width: 546px;
      padding-top: 15px;
      text-align: left;
    }
  }
  &__subtitle {
    font-family: $accentFont;
    font-size: 20px;
    color: $primaryGreyColor;
    line-height: 1.5;
    font-weight: 500;
    @include mq(tablet) {
     margin-bottom: 60px;
    }
    @include mq(desktop) {
      font-family: $accentFont;
      
      color: $primaryGreyColor;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }
  &__title {
    font-family: $accentFont;
    font-size: 48px;
    color: $accentBlackColor;
    line-height: 1.18;
    font-weight: 500;
    @include mq(tablet) {
      font-size: 40px;
      margin-bottom: 30px;
    }
    @include mq(desktop) {
      font-family: $accentFont;
      font-size: 48px;
      color: $accentBlackColor;
      line-height: 1.5;
      font-weight: 500;
    }
  }
  &__text {
    color: $primaryGreyColor;
    line-height: 1.66;
    text-align: justify;
    margin-bottom: 30px;
    @include mq(desktop) {
      margin-bottom: 90px;
    }
  }

  &__btn {
    font-family: $primaryFont;
    color: $primaryGreyColor;
    line-height: 4.8;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.37;
    padding: 10px 30px 15px 30px;
    color: $whiteColor;
    background-color: $btnBgndColor;
    border-radius: 21px 0;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
    &:hover,
    &:active {
      background-color: $btnHoverColor;
      box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
    }
    @include mq(tablet) {
      font-size: 16px;
    }
    @include mq(desktop) {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
}
