.swiper {
  &-wrapper {
    display: flex;
    flex-direction: crow;
    align-items: center;
    margin-top: 40px;
  }
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mq(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    @include mq(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &__btn-next,
  &__btn-prev {
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    background-color: $whiteColor;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
  }
  &__span {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: $btnBgndColor;
    left: 26%;
    top: -11%;
  }
  &-pagination {
    top: 0;
  }
  &__link {
    display: block;
    width: 40px;
    width: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .swiper__span,
    &:focus .swiper__span {
      color: $whiteColor;
    }
    &:hover .swiper__btn-prev,
    &:hover .swiper__btn-next,
    &:focus .swiper__btn-prev,
    &:focus .swiper__btn-next {
      background-color: $btnBgndColor;
    }
  }
}
