$primaryFont: "Open Sans";
$accentFont: Poppins, sans-serif;
$accentFormFont: Raleway, sans-serif;

$primaryGreyColor: #646464;
$primaryBlackColor: #111111;
$accentBlackColor: #212121;

$whiteColor: #ffffff;
$btnBgndColor: #37806B;
$btnHoverColor: #CAA892;
$quotationColor: #B0855B;
$lineGreyColor: #E0E0E0;
$lineBrownColor: #B0855B;
$greyBgnd: #F8F8F8;
$greyColor: #C4C4C4;
$greyInputBgnd: #eeeeee;

$indent: 50px;
$items: 3;

