/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.container {
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1500px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header__container {
    padding: 50px 5px 20px 5px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px;
  }
}
@media screen and (min-width: 1920px) {
  .header__container {
    display: flex;
    align-items: center;
    padding: 100px 120px 90px 50px;
  }
}
.header__image {
  width: 100px;
}
@media screen and (min-width: 1920px) {
  .header__image {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .header__wraperDiv {
    display: flex;
    flex-direction: row;
  }
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}
.header__link {
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:active {
  color: #646464;
}
@media screen and (min-width: 1920px) {
  .header__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__authorizationDiv {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .header__authorizationDiv {
    margin-left: 63px;
  }
}
.header__authorizationLink {
  font-size: 10px;
  line-height: 1.37;
  padding: 5px 20px;
  color: #ffffff;
  background-color: #37806B;
  border-radius: 10px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__authorizationLink:hover, .header__authorizationLink:active {
  background-color: #CAA892;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1920px) {
  .header__authorizationLink {
    font-size: 16px;
  }
}

.hero__container {
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    padding: 30px 10px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__container {
    padding: 0 50px 150px 50px;
    display: flex;
    justify-content: space-between;
  }
}
.hero__text {
  width: 450px;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-left: 10px;
    margin-right: 15px;
    width: 315px;
    text-align: left;
  }
}
@media screen and (min-width: 1920px) {
  .hero__text {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 40px;
    width: 635px;
  }
}
.hero__preview {
  font-weight: 600;
  font-size: 16px;
  color: #646464;
  margin-bottom: 14px;
}
@media screen and (min-width: 1920px) {
  .hero__preview {
    font-size: 20px;
  }
}
.hero__title {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  line-height: 1.08;
  margin-bottom: 25px;
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 72px;
    width: 575px;
  }
}
.hero__description {
  font-size: 14px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1920px) {
  .hero__description {
    font-size: 18px;
  }
}
.hero__btn {
  font-size: 10px;
  line-height: 1.37;
  padding: 10px 30px 15px 30px;
  color: #ffffff;
  background-color: #37806B;
  border-radius: 14px 0;
  border: none;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:active {
  background-color: #CAA892;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1920px) {
  .hero__btn {
    font-size: 18px;
  }
}
.hero__divDecor {
  position: relative;
  width: 430px;
  height: 370px;
  border: 2px solid #B0855B;
  border-radius: 124px 0;
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .hero__divDecor {
    border-radius: 90px 0;
    width: 400px;
    height: 345px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__divDecor {
    border-radius: 153px 0;
    width: 715px;
    height: 615px;
  }
}
.hero__image {
  display: block;
  width: 430px;
  position: absolute;
  border-radius: 110px 0;
  transform: translate(-18px, -20px);
}
@media screen and (min-width: 768px) {
  .hero__image {
    border-radius: 90px 0;
    width: 400px;
    transform: translate(-25px, -15px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__image {
    display: block;
    border-radius: 136px 0;
    width: 715px;
    transform: translate(-40px, -40px);
  }
}

.features__container {
  padding: 50px 10px;
}
@media screen and (min-width: 1920px) {
  .features__container {
    padding: 50px 0px;
  }
}
.features__text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1px;
  text-align: center;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .features__text {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1920px) {
  .features__text {
    text-align: left;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
}
.features__title {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  line-height: 1.65;
  margin-bottom: 23px;
  text-align: center;
  font-weight: 500;
}
@media screen and (min-width: 1920px) {
  .features__title {
    text-align: left;
    font-size: 48px;
    line-height: 1.4;
    margin-bottom: 23px;
  }
}
.features__btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .features__btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .features__btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.features__button {
  width: 207px;
  height: 46px;
  text-align: center;
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
  background-color: #37806B;
  border: 6px solid #37806B;
  border-radius: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .features__button {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .features__button {
    font-size: 18px;
  }
  .features__button:not(:last-child) {
    margin-right: 78px;
  }
}
.features__button:hover, .features__button:active {
  color: #37806B;
  background-color: #ffffff;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
.features__divWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .features__divWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.features__div {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  width: 440px;
  height: 140px;
  margin-bottom: 30px;
  border-radius: 60px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .features__div {
    width: 45%;
  }
  .features__div:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .features__div {
    height: 350px;
    padding-right: 20px;
    width: 30%;
    margin-bottom: 85px;
  }
  .features__div:not(:last-child) {
    margin-right: 50px;
  }
}
.features__svg {
  margin-left: 47px;
  margin-right: 18px;
}
.features__textDiv {
  width: 300px;
}
@media screen and (min-width: 1920px) {
  .features__textDiv {
    width: 340px;
  }
}
.features__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
}
@media screen and (min-width: 1920px) {
  .features__subtitle {
    font-size: 24px;
  }
}
.features__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56;
  color: #646464;
}
@media screen and (min-width: 1920px) {
  .features__subtext {
    font-size: 18px;
  }
}
.features__div.clicked {
  background-color: #CAA892;
}
.features__div.clicked .features__subtitle {
  color: #ffffff;
}
.features__div.clicked .features__subtext {
  color: #ffffff;
}
.features__div.clicked .features__svg {
  fill: #ffffff;
}

.hidden {
  display: none;
}

.about__container {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 20px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding: 100px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1920px) {
  .about__container {
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.about__imageWrapper {
  margin-right: 30px;
  position: relative;
  width: 380px;
  height: 398px;
  border: 2px solid #B0855B;
  border-radius: 115px 0;
}
@media screen and (min-width: 768px) {
  .about__imageWrapper {
    border-radius: 140px 0;
    width: 417px;
    height: 700px;
  }
}
@media screen and (min-width: 1920px) {
  .about__imageWrapper {
    border-radius: 153px 0;
    width: 680px;
    height: 712px;
  }
}
.about__image {
  display: block;
  width: 380px;
  position: absolute;
  border-radius: 105px 0;
  transform: translate(18px, 18px);
}
@media screen and (min-width: 768px) {
  .about__image {
    border-radius: 124px 0;
    width: 417px;
    height: 700px;
    transform: translate(17px, 17px);
  }
}
@media screen and (min-width: 1920px) {
  .about__image {
    display: block;
    border-radius: 136px 0;
    width: 679px;
    transform: translate(37px, 31px);
  }
}
.about__textWrapper {
  width: 400px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__textWrapper {
    width: 300px;
    text-align: left;
    padding-right: 10px;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1920px) {
  .about__textWrapper {
    width: 546px;
    padding-top: 15px;
    text-align: left;
  }
}
.about__subtitle {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #646464;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .about__subtitle {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #646464;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 60px;
  }
}
.about__title {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  color: #212121;
  line-height: 1.18;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .about__title {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    color: #212121;
    line-height: 1.5;
    font-weight: 500;
  }
}
.about__text {
  font-family: "Open Sans";
  font-size: 18px;
  color: #646464;
  line-height: 1.66;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 30px;
}
@media screen and (min-width: 1920px) {
  .about__text {
    margin-bottom: 90px;
  }
}
.about__btn {
  font-family: "Open Sans";
  color: #646464;
  line-height: 4.8;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.37;
  padding: 10px 30px 15px 30px;
  color: #ffffff;
  background-color: #37806B;
  border-radius: 21px 0;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.about__btn:hover, .about__btn:active {
  background-color: #CAA892;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1920px) {
  .about__btn {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

.experience__container {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .experience__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1920px) {
  .experience__container {
    padding: 100px 50px;
  }
}
.experience__text {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .experience__text {
    width: 420px;
  }
}
@media screen and (min-width: 1920px) {
  .experience__text {
    width: 450px;
    padding-left: 40px;
  }
}
.experience__description {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  width: 425px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .experience__description {
    font-size: 40px;
    width: 355px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .experience__description {
    font-size: 48px;
    width: 425px;
    margin-bottom: 30px;
  }
}
.experience__imageWrapper {
  position: relative;
  width: 430px;
  height: 450px;
  border: 2px solid #B0855B;
  border-radius: 124px 0;
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .experience__imageWrapper {
    border-radius: 90px 0;
    width: 355px;
    height: 600px;
  }
}
@media screen and (min-width: 1920px) {
  .experience__imageWrapper {
    border-radius: 153px 0;
    width: 668px;
    height: 711px;
  }
}
.experience__image {
  display: block;
  width: 430px;
  position: absolute;
  border-radius: 110px 0;
  transform: translate(-18px, -20px);
}
@media screen and (min-width: 768px) {
  .experience__image {
    border-radius: 90px 0;
    width: 355px;
    height: 600px;
    transform: translate(-41px, -21px);
  }
}
@media screen and (min-width: 1920px) {
  .experience__image {
    display: block;
    border-radius: 136px 0;
    width: 668px;
    height: 711px;
    transform: translate(-35px, -40px);
  }
}
.experience__btn {
  line-height: 1.37;
  padding: 10px 30px 15px 30px;
  color: #fff;
  background-color: #37806b;
  border-radius: 21px 0;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
}

.counter {
  background-color: #F8F8F8;
}
.counter__container {
  padding: 90px 10px;
}
@media screen and (min-width: 768px) {
  .counter__container {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1920px) {
  .counter__container {
    padding: 90px 50px;
  }
}
@media screen and (min-width: 768px) {
  .counter__title {
    width: 700px;
    margin-bottom: 90px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1920px) {
  .counter__title {
    width: 820px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 768px) {
  .counter__items {
    width: 768px;
    height: 278px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1920px) {
  .counter__items {
    width: 1345px;
    height: 278px;
    display: flex;
  }
}
.counter__wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .counter__wrapper {
    display: flex;
  }
  .counter__wrapper:nth-child(even) {
    display: flex;
    margin-top: 100px;
  }
  .counter__wrapper:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .counter__wrapper {
    display: flex;
  }
  .counter__wrapper:nth-child(even) {
    margin-top: 100px;
  }
  .counter__wrapper:not(:last-child) {
    margin-right: 195px;
  }
}
@media screen and (min-width: 768px) {
  .counter__unit {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 142px;
    height: 138px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
    border-radius: 24px 0;
    box-shadow: 2px 11px 15px 2px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1920px) {
  .counter__unit {
    width: 186px;
    height: 182px;
  }
}
.counter__span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.25;
  width: 86px;
  margin-bottom: 10px;
  color: #212121;
}
.counter__text {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  width: 86px;
  margin-bottom: 10px;
  color: #646464;
}
.counter__lineDecor {
  position: absolute;
  z-index: 10;
  width: 118px;
  height: 50px;
  border: 1px solid #E0E0E0;
  transform: translate(160px, 82px);
  border-left: none;
  border-right: 1px solid #E0E0E0;
  border-bottom: none;
  border-top: 1px solid #E0E0E0;
}
@media screen and (min-width: 768px) {
  .counter__lineDecor {
    position: absolute;
    z-index: 10;
    width: 118px;
    height: 50px;
    border: 1px solid #E0E0E0;
    transform: translate(146px, 70px);
    border-left: none;
    border-right: 1px solid #E0E0E0;
    border-bottom: none;
    border-top: 1px solid #E0E0E0;
  }
}
@media screen and (min-width: 1920px) {
  .counter__lineDecor {
    transform: translate(160px, 82px);
  }
}
@media screen and (min-width: 768px) {
  .counter__smallLine {
    position: absolute;
    width: 118px;
    height: 106px;
    transform: translate(99%, -2%);
    border-left: 1px solid #E0E0E0;
    border-right: none;
    border-bottom: none;
    border-top: none;
  }
}
@media screen and (min-width: 1920px) {
  .counter__smallLine {
    width: 118px;
    height: 106px;
    border: 1px solid #E0E0E0;
    transform: translate(99%, -2%);
    border-bottom: 1px solid #E0E0E0;
    border-right: none;
    border-top: none;
  }
}
.counter__lineDecor.counter__lineDecor--rightOriented {
  border-left: none;
  border-right: none;
}
@media screen and (min-width: 768px) {
  .counter__smallLine.counter__smallLine--rightOriented {
    transform: translate(98%, -100%);
    border-left: 1px solid #e0e0e0;
    border-top: none;
    border-bottom: none;
  }
}
@media screen and (min-width: 1920px) {
  .counter__smallLine.counter__smallLine--rightOriented {
    border-top: 1px solid #e0e0e0;
  }
}

.slider {
  padding-bottom: 245px;
}
.slider__wrapper {
  position: relative;
}
.slider__text {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #646464;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slider__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .slider__text {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #646464;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
.slider__title {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  color: #212121;
  line-height: 1.18;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slider__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .slider__title {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    color: #212121;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 100px;
  }
}
.slider__div {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  width: 570px;
  height: 226px;
  margin-bottom: 30px;
  border-radius: 60px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .slider__div {
    width: 90%;
  }
}
@media screen and (min-width: 1920px) {
  .slider__div {
    width: 35%;
    margin-bottom: 85px;
  }
  .slider__div:not(:last-child) {
    margin-right: 155px;
  }
}
.slider__subtitle {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 1px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 1920px) {
  .slider__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.slider__span {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
.slider__subtext {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
.slider__img {
  position: absolute;
  width: 130px;
  height: 130px;
  transform: translate(-65px, 22px);
}
.slider__textDiv {
  margin-left: 15%;
  margin-top: 18px;
  position: relative;
}
.slider__quotation {
  position: absolute;
  width: 38px;
  height: 36px;
  top: 40px;
  right: 40px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: crow;
  align-items: center;
  margin-top: 40px;
}
.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  position: absolute;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  position: absolute;
}
.swiper-button-prev {
  top: 0 !important;
  left: 100% !important;
}

.form__title {
  position: relative;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.008em;
  line-height: 0.58;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  text-align: center;
  color: #212121;
  width: 705px;
}
.form__title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -31px;
  left: 115px;
  width: 63%;
  height: 2px;
  border-radius: 1px;
  background-color: #C4C4C4;
}
.form__text {
  font-family: "Open Sans";
  color: #646464;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  text-align: center;
  width: 646px;
}
.form__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 58px;
}
.form__nameInput, .form__surnameInput {
  width: 317px;
  height: 50px;
}
.form__nameInput, .form__surnameInput, .form__emailInput {
  padding: 20px 30px 10px 20px;
  background-color: #eeeeee;
  border: none;
  border-radius: 24px 0;
}
.form__emailInput {
  width: 744px;
  height: 50px;
  margin-bottom: 92px;
}
.form__nameInput {
  margin-right: 100px;
}
.form__nameInput::placeholder, .form__surnameInput, .form__emailInput {
  font-family: Raleway, sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
.form__feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__button {
  font-family: "Open Sans";
  line-height: 1.37;
  padding: 20px 35px 10px 48px;
  color: #fff;
  background-color: #37806b;
  border-radius: 0 0 21px 0;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */